[package]
name = "pete"
version = "0.4.0"
authors = ["Joe Ranweiler <joe@lemma.co>"]
edition = "2018"
license = "ISC"
readme = "README.md"
repository = "https://github.com/ranweiler/pete"
description = "A friendly wrapper around ptrace(2)"

[dependencies]
libc = "0.2"
nix = "0.21"
thiserror = "1.0"

[dev-dependencies]
anyhow = "1.0"
